<style>.avatar-group{font-family:system-ui,sans-serif;display:flex;align-items:center} .avatar-group img{width:32px;height:32px;border-radius:50%;border:2px solid #0e0e0e; margin-left:-10px} .avatar-group img:first-child{margin-left:0} .avatar-group .more{width:32px;height:32px;border-radius:50%;background:#1c1c1c; border:2px solid #0e0e0e;color:#00c8ff;font-size:10px;font-weight:700; display:flex;align-items:center;justify-content:center;margin-left:-10px}</style>
<div class="avatar-group">
    <img src="https://i.pravatar.cc/60?img=1">
    <img src="https://i.pravatar.cc/60?img=2">
    <img src="https://i.pravatar.cc/60?img=3">
    <span class="more">+5</span></div>
